<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sammrabatool.solutions5d">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" ></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/asset"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_asset"

        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.Signup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".verification.VerificationCode" />
        <activity android:name=".Activity.LoginCardOverlap" />
        <activity android:name=".profile.ProfilePurple" />
        <activity android:name=".list.ListMultiSelection" />
        <activity android:name=".dialog.Agreement" />
        <activity android:name=".dialog.LockError" />
        <activity android:name=".list.ViewHtml" />
        <activity android:name=".DashboardOptions.DashboardOptions" />
        <activity android:name=".dashboard.DashboardGridFab" />
        <activity android:name=".DashboardOptions.DashFinance" />
        <activity android:name=".DashboardOptions.DashInsurance" />
        <activity android:name=".DashboardOptions.DashProject" />
        <activity android:name=".DashboardOptions.DashProcurement" />
        <activity android:name=".DashboardOptions.HRpayroll" />
        <activity android:name=".DashboardOptions.DashProfile" />
        <activity android:name=".DashboardOptions.DashProperty" />
        <activity android:name=".profile.ProfileHrMenu" />
        <activity android:name=".profile.ProfileTeamMenu" />
        <activity android:name=".profile.ProfilePolygon"></activity>
        <activity android:name=".profile.hrProfile1"></activity>
        <activity android:name=".profile.hrProfile2"></activity>
        <activity android:name=".profile.teamProfile1"></activity>
        <activity android:name=".profile.teamProfile2"></activity>
        <activity android:name=".DashboardOptions.DashSale"></activity>
        <activity android:name=".OTL.SignatureUpload.UploadSignature" />
        <activity android:name=".OTL.MapAttendence" />
        <activity android:name=".OTL.MainActivityOut" />
        <activity android:name=".OTL.CheckIn" />
        <activity android:name=".leave.LeaveHr"></activity>
        <activity android:name=".leave.LeaveTeam"></activity>

        <activity android:name=".OTL.OTLDialogActivity" android:label="Time and Attendence" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA_U_fzn3FZn12GeE1nK_D85xg1Ql1Ox2w" />

        <activity android:name=".Reminder.Recyclerview"></activity>
    </application>

</manifest>