<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sammrabatool.solutions5d">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".dashboard.DashboardGridFab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".verification.VerificationCode" />
        <activity android:name=".Activity.LoginCardOverlap" />
        <activity android:name=".profile.ProfilePurple" />
        <activity android:name=".list.ListMultiSelection" />
        <activity android:name=".dialog.Agreement" />
        <activity android:name=".dialog.LockError" />
        <activity android:name=".list.ViewHtml" />
        <activity android:name=".DashboardOptions.DashboardOptions" />
        <activity android:name=".DashboardOptions.DashFinance" />
        <activity android:name=".DashboardOptions.DashInsurance" />
        <activity android:name=".DashboardOptions.DashProject" />
        <activity android:name=".DashboardOptions.DashProcurement" />
        <activity android:name=".DashboardOptions.HRpayroll" />
        <activity android:name=".DashboardOptions.DashProfile" />
        <activity android:name=".DashboardOptions.DashProperty" />
        <activity android:name=".DashboardOptions.DashSale"></activity>
    </application>

</manifest>